.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: var(--dark-blue);
  padding: 10px;
}

.inner-container {
  display: flex;
}

@media only screen and (max-width: 1600px) {
  .inner-container {
    flex-direction: column;
  }
}
